# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"
AUTH0_SECRET="32-CHARACTER-RANDOM-STRING"
AUTH0_BASE_URL="URL"
AUTH0_ISSUER_BASE_URL="auth0-name"
AUTH0_CLIENT_ID="auth0_client_id"
AUTH0_CLIENT_SECRET="auth0_client_secret_id"